/*estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: linear-gradient(245.59deg, #4e1048 0%, #a12495 28.53%, #e221cf 75.52%);
    height: 100vh;

}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}


h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;

}
h2.titulo span{
    color: yellow;
}
/*estilo cabeçalho*/
header{
    padding: 0px 4%;
}
header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
header a{
    color: #ffffffa1;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;

}
.biografia{
    font-size: 20px;

}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: yellow;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
.btn-contato button:hover{
    box-shadow:  0px 0px 8px rgba(255, 255, 0, 0.911);
    transform: scale(1.05);
}
/* topo-site */

section.topo-site{
    padding: 40px 1%;
}
section.topo-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-site h1{
    color: yellow;
    font-size: 45px;
    line-height: 40px;
}
.topo-site .txt-topo-site{
    padding: 0 4%;
}
.topo-site .txt-topo-site p{
    color: white;
    margin: 20px 0;
    text-align: justify;
}
.topo-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}
@keyframes flutuar {
    0% {top:0}
    100%{top: 30px}
}
/*PARCEIROS WE CARE*/
section.especialidades{
    padding: 40px 4%;
}
section.especialidades .flex{
    gap: 60px;

}
.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;

}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.767);
}
.especialidades .especialidades-box i{
    font-size: 70px;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}
/*estilo do sobre*/
section.sobre{
    padding: 90px 4%;

}
section.sobre .flex{
    align-items: center;
    gap: 60px;

}
.sobre .img-sobre img{
    border-radius: 20px;
}
.sobre .txt-sobre{
    color: white;

}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: yellow;
    display: block;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: yellow;
    font-size: 22px;
    cursor: pointer;
    transition: .2s;
}
.sobre .txt-sobre .btn-social button:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(255, 255, 0, 0.767);
}
.whats{
    position: fixed;
    bottom: 10px;
    right: 30px;
    transition: .2s;
    z-index: 9999;
}
.whats:hover{
    transform: scale(1.10);
    box-shadow: 0 0 20px green (255, 255, 0, 0.767);
}

/*serviços*/
section.port{
    padding: 80px 4%;
}
section.port .flex{
    justify-content: space-around;
    margin-top: 40px;
}
.img_port{
    width: 360px;
    height: 460px;
    background-color: yellow;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img_port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.705);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}
